*.DS_Store
*.log
*.tsbuildinfo

**/package-lock.json
**/node_modules/
.nx/

**/dist/*
dist

**/coverage/*
coverage

# storybook
**/storybook-static/

# next.js
**/.next/
**/out/

# production
**/build

.env
**/.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

node_modules
dist
dist-ssr
*.local
.vite

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# PNPM
.pnpm-store/

.turbo